<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 1 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 08-Oct-2023
-->
<small>
    <div id="copyright-footer">
        <i>
            <a href="https://www.linkedin.com/in/carlosgama0057">
                Copyright &copy; 2023, Carlos da Gama Rocha/301257092<br>
                COMP-229/004 Web Application Development, 3rd Semester
            </a>
            <br><br>
            <p>This website uses a CSS template by Startbootstrap resume (licensed under <a href="https://github.com/startbootstrap/startbootstrap-resume/blob/master/LICENSE">MIT License</a>).</p>
        </i>
    </div>
</small>