<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 2 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 20-Oct-2023
-->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger">
        <span class="d-block d-lg-none">Carlos Gama</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/images/profile.jpg" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <% if (locals.title == "Home") { %>nav-item-highlight<% } %>" href="/home">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <% if (locals.title == "Experience") { %>nav-item-highlight<% } %>" href="/experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <% if (locals.title == "Volunteer") { %>nav-item-highlight<% } %>" href="/volunteer">Volunteer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <% if (locals.title == "Education") { %>nav-item-highlight<% } %>" href="/education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <% if (locals.title == "Skills") { %>nav-item-highlight<% } %>" href="/skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <% if (locals.title == "Interests") { %>nav-item-highlight<% } %>" href="/interests">Interests</a>
            </li>
            <% if (!locals.loggedin) { %>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger <% if (locals.title == "Login") { %>nav-item-highlight<% } %>" href="/login">Login</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger <% if (locals.title == "Contacts") { %>nav-item-highlight<% } %>" href="/contacts">Contacts</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>