<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 2 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 20-Oct-2023
-->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Resume about Carlos Gama" />
<meta name="author" content="Carlos da Gama Rocha" />

<title><%= locals.title %></title>

<!-- Modified image from Icon Archive: https://www.iconarchive.com/show/small-n-flat-icons-by-paomedia/gamepad-icon.html
     Use under the public license: https://creativecommons.org/publicdomain/zero/1.0/  -->
<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />

<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
<!-- Free Core theme CSS from Startbootstrap (includes Bootstrap)-->
<link href="https://raw.githack.com/StartBootstrap/startbootstrap-resume/master/dist/css/styles.css" type="text/css" rel="stylesheet" />

<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Startbootstrap Resume core JS-->
<script src="https://raw.githack.com/StartBootstrap/startbootstrap-resume/master/dist/js/scripts.js"></script>

<link href="/stylesheets/app.css" type="text/css" rel="stylesheet" />