<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 1 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 08-Oct-2023
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
