<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 2 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 20-Oct-2023
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    
    <!-- Navigation-->
    <header>
        <%- include('./partials/header'); %>
    </header>

    <!-- Page Content-->
    <div class="container-fluid p-0">
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Carlos <span class="text-primary">Gama</span>
                </h1>
                <div class="subheading mb-5">
                    Bayview Village, Toronto, ON - Canada · (905) 781-5391 ·
                    <a href="gamaroot@gmail.com">gamaroot@gmail.com</a>
                    ·
                    <a href="https://www.linkedin.com/in/carlosgama0057">linkedin.com/carlosgama0057</a>
                </div>
                <p class="lead mb-5">Software Developer since 2010, 5 years in Android development and almost 9 years in Game development.</p>
            </div>
        </section>
    </div>
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</html>