<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 2 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 20-Oct-2023
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    
    <!-- Navigation-->
    <header>
        <%- include('./partials/header'); %>
    </header>

    <!-- Page Content-->
    <div class="container-fluid p-0">
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>In addition to my profession as a game developer, my personal time reflects a
                    passion for gaming. When at home, I enjoy immersing myself in RPG video
                    games and expanding my culinary skills by watching informative culinary
                    videos.</p>
                <p class="mb-0">Beyond the digital realm, I find joy in discovering new
                    locations across Canada, appreciating the country's diverse natural beauty.
                    It's a delightful contrast to my technology-oriented pursuits. During my
                    leisure hours, I diligently keep up with the latest technological
                    advancements in the game development industry. This continuous exploration
                    allows me to stay at the forefront of innovation and bring fresh and
                    exciting ideas to my work.</p>
            </div>
        </section>
    </div>
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</html>