<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 2 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 20-Oct-2023
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    
    <!-- Navigation-->
    <header>
        <%- include('./partials/header'); %>
    </header>

    <!-- Page Content-->
    <div class="container-fluid p-0">
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Volunteer Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Brazilian Air Force (2008)</h3>
                        <div class="subheading mb-3">Carandaí, Minas Gerais - Brazil</div>
                        <p>Humanitarian aid to the homeless in the disaster (S.O.S. Carandaí - 
                            <a href="https://www.flyertalk.com/forum/travel-photography/2102315-welcome-trekearth-users.html">Gallery Link</a>).
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</html>